.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: white;
	min-height: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	padding: 20px;
}

.App-link {
	color: #61dafb;
}

.nav {
	padding: 5px;
}

.navlink {
	color: lightgray;
	padding: 20px;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.navigation {
	background: #282c34;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navigation a:link,
.navigation a:visited {
	color: white;
	text-decoration: none;
}

.active {
	font-weight: bold;
	color: #1976d2 !important;
}

.error {
	font-weight: bold;
	color: red !important;
}

.forgotPassword {
	background: none !important;
	border: none !important;
	text-decoration: underline;
	margin-left: 5px;
	color: #069;
}

.forgotPassword:hover {
	text-decoration: none;
	color: red;
}

.profileImage {
	width: 200px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem; 
}

#page-container {
	position: relative;
	min-height: 100vh;
  }
  
  #content-wrap {
	padding-bottom: 2.5rem;    /* Footer height */
  }